/CS-200/Homework/Chapter2/nbproject/private/
/CS-200/Homework/Chapter2/build/
/CS-200/Homework/Chapter2/dist/
/CS-200/Homework/inClass/nbproject/private/
/CS-200/Homework/PhpProject1/nbproject/private/
/CS-200/Homework/independent/song/nbproject/private/
/CS-200/Homework/independent/song/build/
/CS-200/Homework/independent/NanaContacts/nbproject/private/
/CS-200/Homework/independent/NanaContacts/build/
/CS-200/Homework/independent/ObjectsExercises/nbproject/private/
/CS-200/Homework/independent/ObjectsExercises/build/